@use './variables' as *;

* {
    list-style-type: none;
    font-family: $custom-font;
    box-sizing: border-box;
    text-decoration: none;
}

body {
   background-color: #fff;;
}

.wrapper {
    max-width: 1440px;
    height: auto;
}

.services-list {
    display: flex;
    gap: 10px;
    
}

.services-list {
    max-width: 1000px;
    min-width: 950px;
    gap: 20px;
    
}


