@use './variables' as *;

.main_about-as {
    display: flex;
    align-items: center;
    gap:9.09%;
    max-width: 1400px;
    margin-top: 50px;
    margin-left: 9.09%;
}

.main_about-as-img {
    width: 300px; /* Фиксированная ширина */
    flex: 0 0 238px;
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-left: auto;
    margin-right: 100px;
  }

.main_about-as-content {
    width: 250px;
}

.about_as-heading {
    height: 10%;
    width: 250px;
}

.about-as-button {
    background-color: $dark-color;
    width: 200px;
    height: 34px;
    border-radius: 14px;
    color: white;

    &:hover {
        background-color: aqua;
        transition: background-color 0.3s ease ;
    }
    
}

@media (max-width: $mobile) {

    .main_about-as {
        width: 100%;
    }

    .about-as-text {
        display: none;
    }

    .about-as-button {
        display: none;
    }

    .main_about-as {
        flex-direction: column;
        margin-left: 0;

    }

    .about_as-heading {
        display: flex;
        flex-wrap: nowrap;
        font-size: 15px;
        margin-left: 100px;
    }

    .main_about-as-content {
        width: 100%;
    }

    .main_about-as-img  {
        margin-left: 100px;
    }




}