@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url('../fonts/SpaceGrotesk-SemiBold.ttf') format('ttf'),
         url('../fonts/SpaceGrotesk-SemiBold.woff') format('woff'),
         url('../fonts/SpaceGrotesk-SemiBold.woff2') format('woff2');
         
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('../fonts/SpaceGrotesk-Regular.ttf') format('ttf'),
         url('../fonts/SpaceGrotesk-Regular.woff') format('woff'),
         url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2');
         
    font-weight: 500;
    font-style: normal;
}


$custom-font:'SpaceGrotesk-Regular';
$custom-font-bold:'SpaceGrotesk-Bold';

$green-color: #B9FF66;
$grey-color:#F3F3F3;
$dark-color:#191A23;
$black-color:#000000;

$mobile: 768px;
$tablet: 1024px;
$desctop: 1025px;