@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('../fonts/SpaceGrotesk-Regular.ttf') format('ttf'),
         url('../fonts/SpaceGrotesk-Regular.woff') format('woff'),
         url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2');
         
    font-weight: 500;
    font-style: normal;
}


$custom-font:'SpaceGrotesk-Regular';

$green-color: #B9FF66;
$grey-color:#F3F3F3;
$dark-color:#191A23;
$black-color:#000000;